# shellcheck shell=bash

# Colors
export CA="\e[34m" # Accent
export CO="\e[32m" # Ok
export CW="\e[33m" # Warning
export CE="\e[31m" # Error
export CN="\e[0m"  # None

# Max width used for components in second column
export WIDTH=50

# Services to show
declare -xA services
services["nginx"]="Nginx"
services["docker"]="Docker"
services["sshd"]="SSH"
services["fail2ban"]="Fail2Ban"
services["ufw"]="UFW"

export domains=(
    "facebook.com"
    "google.com"
)
